In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("datos.xls")

In [5]:
df.head()

                             Unnamed: 0 Unnamed: 1
0                                   NaN        NaN
1                        Cuenta de ITEM        NaN
2                                  ITEM      Total
3                     ACEITE GIRASOL 2L          1
4  ACEITE LA FAVORITA ORIGINAL 2 LITROS          1