In [1]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_excel("datos.xlsx")
df

,ID,CODIGO,ITEM,CANTIDAD,MONTO SIN IVA,MONTO FINAL (INC IVA),SUCURSAL,VENDEDOR,FACTURA,FECHA EMISIÓN,RUTA
0,SER000002,RMOVISTAR,RECARGA DE MOVISTAR,1,0.8929,1.000048,CUENCA - ESTADIO,SPINOS,001-032-000187013,2023-07-01 08:07:15.468,EN RUTA
1,ITE009441,10158188,FUNDA CAMISETA PLASTICA PEQUENA YALOBOX,1,0.0002,0.000224,CUENCA - ESTADIO,SPINOS,001-032-000187014,2023-07-01 08:08:28.310,EN RUTA
2,ITE000063,040000422068,CHOCOLATE MILKYWAY 52.2GR,1,1.3392,1.499904,CUENCA - ESTADIO,SPINOS,001-032-000187014,2023-07-01 08:08:28.310,EN RUTA
3,ITE006257,759494998422,ENERGIZANTE V220 ORIGINAL 330ML,1,0.4464,0.499968,CUENCA - ESTADIO,SPINOS,001-032-000187015,2023-07-01 08:08:39.808,EN RUTA
4,ITE009441,10158188,FUNDA CAMISETA PLASTICA PEQUENA YALOBOX,1,0.0002,0.000224,CUENCA - ESTADIO,SPINOS,001-032-000187016,2023-07-01 08:21:53.010,EN RUTA
...,...,...,...,...,...,...,...,...,...,...,...
11941,ITE002312,7861024622905,BEBIDA HIDRATANTE POWERADE MANZANA CLEAR 500ML,1,0.5357,0.599984,CUENCA - ESTADIO,FGUTAMA,001-032-000187691,2023-07-04 14:50:42.016,EN RUTA
11942,ITE003542,7861068800205,CIGARRILLO LIDER POR UNIDAD,1,0.3571,0.399952,CUENCA - ESTADIO,FGUTAMA,001-032-000187692,2023-07-04 14:51:54.033,EN RUTA
11943,ITE000002,7861068800206,CIGARRILLOS LARK POR UNIDAD,1,0.3571,0.399952,CUENCA - ESTADIO,FGUTAMA,001-032-000187692,2023-07-04 14:51:54.033,EN RUTA
11944,ITE008840,1015,FUNDA CAMISETA PLASTICA GRANDE YALOBOX,1,0.0001,0.000112,CUENCA - ESTADIO,MDELEG,001-032-000193264,2023-07-31 12:21:03.896,EN RUTA
11945,ITE002256,7861024604222,COLA COCA COLA ORIGINAL 3LT,1,2.6785,2.999920,CUENCA - ESTADIO,MDELEG,001-032-000193264,2023-07-31 12:21:03.896,EN RUTA

In [14]:
#lista : sirven para iterar, como auxiliar de filtros, etc
x = [1,2,3]

In [15]:
x

[1, 2, 3]

In [16]:
x.append(4)
x

[1, 2, 3, 4]

In [17]:
#funciones : son programas pequeños
#crear una funcion para leer archivos
def leer_excel (ruta):
    df = pd.read_excel(ruta)
    return df

df2 = leer_excel("datos.xlsx")
df2

,ID,CODIGO,ITEM,CANTIDAD,MONTO SIN IVA,MONTO FINAL (INC IVA),SUCURSAL,VENDEDOR,FACTURA,FECHA EMISIÓN,RUTA
0,SER000002,RMOVISTAR,RECARGA DE MOVISTAR,1,0.8929,1.000048,CUENCA - ESTADIO,SPINOS,001-032-000187013,2023-07-01 08:07:15.468,EN RUTA
1,ITE009441,10158188,FUNDA CAMISETA PLASTICA PEQUENA YALOBOX,1,0.0002,0.000224,CUENCA - ESTADIO,SPINOS,001-032-000187014,2023-07-01 08:08:28.310,EN RUTA
2,ITE000063,040000422068,CHOCOLATE MILKYWAY 52.2GR,1,1.3392,1.499904,CUENCA - ESTADIO,SPINOS,001-032-000187014,2023-07-01 08:08:28.310,EN RUTA
3,ITE006257,759494998422,ENERGIZANTE V220 ORIGINAL 330ML,1,0.4464,0.499968,CUENCA - ESTADIO,SPINOS,001-032-000187015,2023-07-01 08:08:39.808,EN RUTA
4,ITE009441,10158188,FUNDA CAMISETA PLASTICA PEQUENA YALOBOX,1,0.0002,0.000224,CUENCA - ESTADIO,SPINOS,001-032-000187016,2023-07-01 08:21:53.010,EN RUTA
...,...,...,...,...,...,...,...,...,...,...,...
11941,ITE002312,7861024622905,BEBIDA HIDRATANTE POWERADE MANZANA CLEAR 500ML,1,0.5357,0.599984,CUENCA - ESTADIO,FGUTAMA,001-032-000187691,2023-07-04 14:50:42.016,EN RUTA
11942,ITE003542,7861068800205,CIGARRILLO LIDER POR UNIDAD,1,0.3571,0.399952,CUENCA - ESTADIO,FGUTAMA,001-032-000187692,2023-07-04 14:51:54.033,EN RUTA
11943,ITE000002,7861068800206,CIGARRILLOS LARK POR UNIDAD,1,0.3571,0.399952,CUENCA - ESTADIO,FGUTAMA,001-032-000187692,2023-07-04 14:51:54.033,EN RUTA
11944,ITE008840,1015,FUNDA CAMISETA PLASTICA GRANDE YALOBOX,1,0.0001,0.000112,CUENCA - ESTADIO,MDELEG,001-032-000193264,2023-07-31 12:21:03.896,EN RUTA
11945,ITE002256,7861024604222,COLA COCA COLA ORIGINAL 3LT,1,2.6785,2.999920,CUENCA - ESTADIO,MDELEG,001-032-000193264,2023-07-31 12:21:03.896,EN RUTA

In [18]:
df.dtypes

ID                               object
CODIGO                           object
ITEM                             object
CANTIDAD                          int64
MONTO SIN IVA                   float64
MONTO FINAL (INC IVA)           float64
SUCURSAL                         object
VENDEDOR                         object
FACTURA                          object
FECHA EMISIÓN            datetime64[ns]
RUTA                             object
dtype: object

In [22]:
df_resumen = df[["FACTURA", "ID"]]
df_resumen["contador"]=1
df_resumen

C:\Users\lavic\AppData\Local\Temp\ipykernel_14164\270272226.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_resumen["contador"]=1

                 FACTURA         ID  contador
0      001-032-000187013  SER000002         1
1      001-032-000187014  ITE009441         1
2      001-032-000187014  ITE000063         1
3      001-032-000187015  ITE006257         1
4      001-032-000187016  ITE009441         1
...                  ...        ...       ...
11941  001-032-000187691  ITE002312         1
11942  001-032-000187692  ITE003542         1
11943  001-032-000187692  ITE000002         1
11944  001-032-000193264  ITE008840         1
11945  001-032-000193264  ITE002256         1

[11946 rows x 3 columns]

In [25]:
pivot_df = df_resumen.pivot_table(index="FACTURA", columns="ID", values="contador", aggfunc="sum", fill_value=0)
pivot_df

ID,ITE000002,ITE000026,ITE000028,ITE000029,ITE000033,ITE000037,ITE000058,ITE000061,ITE000063,ITE000065,...,ITE012708,ITE012709,ITE012717,ITE012719,ITE012759,SER000001,SER000002,SER000003,SER000004,SER000006
FACTURA,,,,,,,,,,,,,,,,,,,,,
001-032-000187013,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
001-032-000187014,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
001-032-000187015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
001-032-000187016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
001-032-000187017,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
001-032-000193345,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
001-032-000193346,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
001-032-000193347,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
001-032-000193348,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
001-032-000193349,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
freq_items = apriori(ohe_df, min_support=0.2, use_colnames=True, verbose=1)
freq_items.head(7)